.loginbox{
    margin-top:50px;
}
.forgot-password{
    float:right;
    font-size: 80%;
    position: relative;
    top:-10px;
}
.panel-pad{
    padding-top:30px;
}
.login-alert{
    display:none;
}
.margT25{
    margin-bottom: 25px;
}
.margT10{
    margin-top:10px;
}
.margL10{
    padding-left: 25px;
}
.no-acc{
    border-top: 1px solid#888; padding-top:15px; font-size:85%;
}
.signup-box{
    display:none; margin-top:50px;
}
.signup-fb{
    border-top: 1px solid #999; padding-top:20px;
}
.signin{
    float:right; font-size: 85%; position: relative; top:-10px;
}
.btn-facebook {
    color: #fff;
    background-color: #3b5998;
    border-color: #3b5998;
}
.btn-facebook:hover,
.btn-facebook:focus,
.btn-facebook:active,
.btn-facebook.active,
.open > .dropdown-toggle.btn-facebook {
    color: #fff;
    background-color: #3b5998;
    border-color: #3b5998;
}
.btn-google {
    color: #fff;
    background-color: #dd4b39;
    border-color: #dd4b39;
}
.btn-google:hover,
.btn-google:focus,
.btn-google:active,
.btn-google.active,
.open > .dropdown-toggle.btn-google {
    color: #fff;
    background-color: #dd4b39;
    border-color: #dd4b39;
}
.btn-twitter {
    color: #fff;
    background-color: #00aced;
    border-color: #00aced;
}
.btn-twitter:hover,
.btn-twitter:focus,
.btn-twitter:active,
.btn-twitter.active,
.open > .dropdown-toggle.btn-twitter {
    color: #fff;
    background-color: #00aced;
    border-color: #00aced;
}
.theme-color{
    color: #641934 !important;
}
.theme-background{
    background: #641934 !important;
    color: #ffffff !important;
}
.theme-background-light{
    background: #f0c2d3 !important;
}
.theme-border{
    border-color: #641934 !important;
}
.color-white{
    color: #ffffff !important;
}
